{% extends 'AdminSettingsBundle::base.html.twig' %}

{% block adminHeading -%}Nuevo producto{% endblock %}
{% block admin %}
{{ form(form) }}
        <a class="btn btn-default" href="{{ path('product') }}">
            Lista productos
        </a>
{% endblock %}
