<footer>
		<div class="container">
			<div class="row">
				<div class="span2">
					<a href="http://www.wildscreen.org.uk/" target="_blank">
        			    <img src="assets/img/logo-footer.png" alt="wildscreen">
        		    </a>
    			</div>
                <div class="span6">
                    <p>WildPhotos is a Wildscreen initiative. Charity no. 299450<br>Wildscreen Trading Ltd Company No. 2610585 | VAT No. GB 567 7082 07</p>
                </div>
    			
    		</div>
    		
           
    	</div>
</footer>

		<!-- Scripts -->
    <script src="{{ asset('bundles/assets/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/holder.js') }}"></script>
    {% block scripts %}{% endblock %}
    
	<!-- End scripts -->