{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
    {% include '::head.html.twig' %}
    
    <body>
{% include '::header.html.twig' %}  
    <div class="container">
      
      
      {% if warning is defined %}
       {{macros.warning(warning)}}
      {% endif %}
     
      <div class="content row">
        {% block content %} {% endblock %}
      </div>

      {% include '::footer.html.twig' %}
    </div>


{# DEBUGING VARS #}  
{% if debug_var  is defined %}
<pre>{% debug debug_var %}</pre>
{% endif %}
     
{% include '::js.html.twig' %}        
</body>

</html>


            
          