{% block footer %}
<hr class="featurette-divider"></hr>
      <!-- Site footer -->
      <div class="footer">
        <p>
        Email:{{global.email_contact}}<br>
        Teléfono:{{global.phone_contact}}<br>
        </p>
</div>
{% endblock %}