{% block footer %}
<hr class="featurette-divider"></hr>
      <!-- Site footer -->
      <div class="footer">
        <p>
        Email:{{global.email_contact}}<br>
        {{'telefono'|trans|capitalize}}:{{global.phone_contact}}<br>
        </p>
</div>
{% endblock %}