{% extends 'AdminSettingsBundle::base.html.twig' %}

{% block adminHeading -%}Editar categoria{% endblock %}
{% block admin %}

{{ form(edit_form) }}

<hr/>
<a class="btn btn-default"  href="{{ path('category') }}">
            Volver a la lista
</a>
{% endblock %}


