{% extends 'AdminSettingsBundle::layout.html.twig' %}

{% block adminHeading -%}Nueva categoria{% endblock %}
{% block admin %}

{{ form(form) }}
<hr/>
<a class="btn btn-default"  href="{{ path('category') }}">
            Volver a la lista
        </a>
{% endblock %}
