{% extends 'AdminSettingsBundle::base.html.twig' %}
{% block adminHeading -%}SubCategory creation{% endblock %}
{% block admin %}

{{ form(form)}}
<hr/>


        <a class="btn btn-default"  href="{{ path('subcategory') }}">
            Volver a la lista
        </a>

{% endblock %}
